<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />
        <style>
        .öneriDiv{
             
        }  
        .geriBildirim{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        
        body {
        background: linear-gradient(to bottom, #33ccff 0%, #ccff99 100%);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
         }
        
        </style>
    </head>
    <body>
    
  <h3 align="center">SciBERT Öneriler</h3>
  <div> 
    {%for sciDoc in sciDocsArray%}
        
            <div class ="öneriDiv">
                <h5 align="center">{{sciDoc['title']}}</h5>

                <p>{{sciDoc['document']}}</p>
            </div>
        
    {%endfor%}
  </div>
  <h3 align="center">FastText Öneriler</h3>
  <div> 
    {%for ftDoc in ftDocsArray%}
        
            <div class ="öneriDiv">
                <h5 align="center">{{ftDoc['title']}}</h3>

                <p>{{ftDoc['document']}}</p>
            </div>
        
    {%endfor%}
  </div>
<div>
<form method="POST">
  <div class = "geriBildirim">
  <div style="margin:10px">
  <h4 align=>Geri Bildirim SciBERT</h3>
    {%for sciDoc in sciDocsArray%}
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" name={{sciDoc['id']}}>
  <label class="form-check-label" for="flexCheckDefault">
    {{sciDoc['title']}} makalesini beğendim
  </label>
    </div>
    {%endfor%}
    </div>
    <div style="margin:10px">
    <h4 align=>Geri Bildirim FastText</h3>
    {%for ftDoc in ftDocsArray%}
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" name={{ftDoc['id']}}>
  <label class="form-check-label" for="flexCheckDefault">
    {{ftDoc['title']}} makalesini beğendim
  </label>
    </div>
    {%endfor%}
    </div>
  <br />
  <button type="submit" class="btn btn-primary">Geri Bildir</button>
</form>

</div>


    <div>
    <form action ="{{url_for('views.home')}}" >
          <input
          type = "submit"
          value = "Ana Sayfa"
          />
    </form>
    </div>

    </body>
</html>